@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
      box-sizing: border-box;
      
}

body{
      font-family: 'Roboto', sans-serif;
}

h1{
text-align: center;
width: 100%;
font-size: 38px;
background-color:  #39A2DB;
height: 100px;
}

h2{
      background-color: #053742;
      text-align: center;
width: 100%;
font-size: 16px;
height: 60px;
color: #fff;
}

main{
      display: flex;
      align-content: center;
      justify-content: center;

}

.container{
      margin-top: 40px;
      display: grid;
      grid-template-columns: 1fr 1fr;
    

}

fieldset{
      margin-right: 20px;
      border: 2px dashed gray;
      padding: 20px;
      position: relative;
      border-radius: 5px;
      width: 300px;
}
footer{
      bottom: 0;
      width: 100%;
      position: fixed;
}
.remove{
   cursor: pointer;
}

table {
      
      width: 600px;
      color: #fff;
}

table,th,td {
      padding:10px;
      vertical-align: center;
      text-align: center;
      margin-top: 10px;
}

thead{
      color: #000;
      background-color: #77ACF1;
  
}

tr:nth-child(even){background-color: #A2DBFA ;}
tr:nth-child(odd){background-color: #77ACF1 ;}

tr{
      color: #000;border: 2px solid #fff;
      vertical-align: center;
      text-align: center;      }

td img {
      width: 70px;
      height: 70px;
}

tfoot{
      background-color:#A2DBFA ; color:#000;  width: 600px;
}

tbody td:first-child:hover {color:red}; 

input[type=text]{
      width: 100%;
}

.formInput{
padding :5px;
width: 300px;
}

.submit{
 
      margin-top: 5px;
      background-color: #71c7ec;
      border-color: #71c7ec;
      color:#fff;
      }

      .click{
            color:#fff;
             margin-top: 5px;
            border-color: #a10909;;
            background-color:  #a10909;;
            }

     
    